<!--
PROG8020 : Web Design & Devlopment
Final Exam Set 2
Created by: Parth Patel
Date: 16/08/2021
-->

    <!-- Footer -->
    <footer class="mt-5 py-3 text-center text-small bg-light">
        <p class="mb-1">© 2021 Mobitech Electronics</p>
    </footer>
</body>
</html>

<!-- no need of footer as of now -->