<!--
PROG8020 : Web Design & Devlopment
Final Exam Set 2
Created by: Parth Patel
Date: 16/08/2021
-->

<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/admin">
            <img src="/images/logo.png" alt="" width="50">
            Mobitech Electronics Sale
        </a>
    </div>
</nav>