<!--
PROG8020 : Web Design & Devlopment
Final Exam Set 2
Created by: Parth Patel
Date: 16/08/2021
-->

<%- include('layouts/header'); -%>
<!-- Main Container -->
<div class="container">
  <main class="text-center">
    <h1 class="py-5">Logout</h1>
    <h2 class="py-4">You are successfully logged out!</h1>
  </main>
</div>
<%- include('layouts/footer'); -%>